body {
    padding-top: 20px;
    padding-left: 20px;
}

.main {
    display: flex;
}

.calculator {
    padding: 40px 15px 30px 15px;
    display: flex;
    flex-direction: column;
    width: 300px;
   /*  height: 430px; */
    border-radius: 10px;
    background-color: rgb(35, 90, 124);
    box-shadow: 33px 34px 8px -11px rgba(34, 60, 80, 0.76);
    margin-right: 40px;
}
.calculator__output {
    border: 1px solid #000;
    margin-bottom: 45px;
    padding-right: 5px;
    height: 60px;
    border-radius: 3px;
    background-color: white;
    box-shadow: -6px 10px 13px 0px rgba(34, 60, 80, 0.59) inset;
    font-size: 47px;
    text-align: end;
    overflow: hidden;
}
/* .calculator__buttons {
    

} */

.row {
    display: flex;
    justify-content: space-around;
}

.row:not(.row:last-child){
    margin-bottom: 15px;
}

.but-style {
    width: 55px;
    height: 40px;
    color: white;
    font-size: 30px;
    background-color: black;
    border: 0 solid #000;
    border-radius: 3px;
    box-shadow: 4px 4px 10px -4px rgba(0, 1, 2, 0.9);
}

.but-style:hover {
    background: rgba(0, 0, 0, 0.526);
}

.but-style:disabled{
    background-color: rgba(49, 48, 48, 0.981);
}


.result-field {
    border: 1px solid #000;
    width: 150px;
    height: 430px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    overflow: hidden;
}

.result-field__row {
    height: 30px;
    font-size: 25px;
    text-align: end;
    overflow: hidden;
}

.result-field__row:nth-child(odd) {
    background-color: rgba(152, 168, 7, 0.525);
}

.result-field__row:nth-child(even) {
    background-color: rgba(140, 149, 57, 0.525);
}

